.header {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-image: url(static/background_header.jpg);
	background-size: 100% 100%;
	background-position: center;
	position: relative;
	@media screen and (max-width: 1300px) {
		padding: 0 30px;
	}
	&:before {
		content: '';
		position: absolute;
		background: rgba(31, 32, 33, 0.79);
		width: 100%;
		height: 100%;
	}
	&__wrapper {
		width: 100%;
		max-width: 1280px;
		padding: 40px 0 66px;
		position: relative;
		z-index: 2;
		@media screen and (max-width: 1025px) {
				padding-bottom: 30px;
			}
		@media screen and (max-width: 769px) {
			position: static;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@media screen and (max-width: 376px) {
			padding-bottom: 0;
		}
	}
	&__main {
		display: flex;
		justify-content: space-between;
	}
	&__sorting {
		margin-top: 50px;
		@media screen and (max-width: 769px) {
			margin-top: 20px;
		}
		@media screen and (max-width: 376px){
			margin-top: 0;
		}
	}
	&__burger {
		display: block;
		width: 29px;
		height: 29px;
		cursor: pointer;
		position: absolute;
		top: 110px;
		right: 30px;
		@media screen and (max-width: 376px) {
			top: 80px;
		}
	}
	.burger {
		width: 25px;
		height: 3px;
		background-color: white;
		position: absolute;
		top: 7px;
		left: 2px;
		transition: 0.5s ease; 
		@media screen and (min-width: 769px) {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 3px;
			background-color: white;
			top: 6px;
			transition: 0.5s ease;
		}
		&:after {
			content: '';
			position: absolute;
			width: 25px;
			height: 3px;
			background-color: white;
			top: 12px;
			transition: 0.5s ease;
		}
	}
	&__nav {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		width: 505px;
		display: flex;
		justify-content: space-between;
		margin-top: 12px;
		@media screen and (max-width: 769px) {
			position: absolute;
			flex-direction: column;
			bottom: -88px;
			left: 0;
			background-color: #1f2021;
			align-items: center;
			width: 100%;
			display: none;
		}
		.nav__elem {
			&:hover {
				text-decoration: underline;
				@media screen and (max-width: 769px) {
					background-color: #6ebbd3;
					width: 100%;
					text-align: center;
				}
			}
			&:active {
				opacity: 0.3;
			}
		}
	}
	&__number {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 12px;
		.number__phone {
			font-style: normal;
			font-weight: 700;
			font-size: 24px; 
			line-height: 29px;
			margin-bottom: 3px;
			&:hover {
				opacity: 0.7;
			}
			&:active {
				opacity: 0.3;
			}
			@media screen and (max-width: 376px) {
				font-size: 16px;
				line-height: 20px;
			}
		}
		.number__text {
			@media screen and (max-width: 376px) {
				font-size: 12px;
			}
		}
	}
	&__sorting {
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		@media screen and (max-width: 376px) {
			font-size: 20px;
		}
	}
}
.logo {
	display: block;
	background-image: url(static/logo.png);
	background-size: cover;
	width: 78px;
	height: 50.3px;
}

//mobile nav

.nav.active {
	display: flex;
}
.burger.active {
		top: 12px;
		-moz-transform: rotate(-135deg); 
		-ms-transform: rotate(-135deg); 
		-webkit-transform: rotate(-135deg); 
		-o-transform: rotate(-135deg); 
		transform: rotate(-135deg);
		&:before {
			opacity: 0;
		}
		&:after {
			top: 0px;
			-moz-transform: rotate(270deg); 
			-ms-transform: rotate(270deg); 
			-webkit-transform: rotate(270deg); 
			-o-transform: rotate(270deg); 
			transform: rotate(270deg);
		}
}