.main {
	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 376px) {
			justify-content: center;
		}
		.card {
			width: 30%;
			margin-bottom: 30px;
			@media screen and (max-width: 769px) {
				width: 45%;
			}
			@media screen and (max-width: 376px) {
				width: 90%;
			}
			@media screen and (max-width: 321px) {
				width: 100%;
			}
			&__wrapper {
				padding: 29px;
				background-color: #F3F3F3;
				margin-top: -5px;
				@media screen and (max-width: 1025px) {
					padding: 10px;
				}
			}
			&__img {
				width: 100%;
				position: relative;
				a {
					background-image: url(static/heart.png);
					width: 46px;
					height: 40.61px;
					position: absolute;
					z-index: 2;
					right: 32px;
					top: 36.7px;
					opacity: 0.5;
					cursor: pointer;
					@media screen and (max-width: 1025px) {
						top: 23px;
						right: 25px;
					}
					&:hover {
						opacity: 1;
					}
					&:active {
						opacity: 1;
					}
				}
				&-dis {
					&:before {
						content: '-40%';
						position: absolute;
						z-index: 2;
						color: white;
						padding: 10px 18px;
						top: 34px;
						left: 38px;
						background-color: #E62D2D;
						border-radius: 10px;
						font-size: 16px;
						line-height: 20px;
						@media screen and (max-width: 1025px) {
							top: 20px;
							left: 22px;
						}
					}
				}
			}
			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 29px;
				margin-bottom: 20px;
				@media screen and (max-width: 376px) {

				}
			}
			&__characteristics {
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 15px;
				display: flex;
				position: relative;
				@media screen and (max-width: 1025px) {
					justify-content: space-between;
				}
			}
			.characteristics {
				padding-left: 22px;
				@media screen and (max-width: 1025px) {
					padding-left: 12px;
				}
				.bold_style {
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;
				}
				&__paint {
					width: 33%;
					&:before {
						content: '';
						position: absolute;
						left:0;
						top: 2px;
						width: 4px;
						height: 26px;
						background-color: #6EBBD3;
					}
				}
				&__age {
					width: 33%;
				}
				&__paws {
					width: 33%;
				}
			}
			&__price {
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 29px;
				margin-top: 20px;
				@media screen and (max-width: 1025px) {
					text-align: center;
				}
			}
			&__button {
				color: white;
				background-color: #6EBBD3;
				width: 100%;
				padding: 20px 0;
				display: flex;
				justify-content: center;
				border-radius: 0 0 10px 10px;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
				&:active {
					opacity: 0.3;
				}
				&-sell {
					background-color: #1F2021;
					cursor: auto;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	&__wrapperbutton {
		margin: 68px 0 83px;
		display: flex;
		justify-content: center;
		.morebutton {
			padding: 24px 130px;
			font-size: 14px;
			line-height: 17px;
			border: 1px solid #CACACA;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background-color: #1F2021;
				color: white; 
			}
			&:active {
				background-color: #393c3e;
			}
			@media screen and (max-width: 321px) {
				padding: 25px 70px;
			}
		}
	}
	&__buttontop {
		display: block;
		width: 60px;
		height: 60px;
		background-color: #6EBBD3;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		bottom: 50px;
		&:hover {
			opacity: 0.7;
		}
		@media screen and (max-width: 376px) {
			bottom: 10px;
		}
	}
}

