.productionblock {
	padding-bottom: 40px;
	border-bottom: 2px solid #004B8D;
}
.img__1element {
	background-image: url(./static/1121.png);
}
.img__2element {
	background-image: url(./static/1321.png);
}
.img__3element {
	background-image: url(./static/2111.png);
}
.img__4element {
	background-image: url(./static/1811.png);
}
.img__5element {
	background-image: url(./static/3111.png);
}
.img__6element {
	background-image: url(./static/4411.png);
}
.img__7element {
	background-image: url(./static/1391.png);
}
.img__8element {
	background-image: url(./static/1321.png);
}
.img__9element {
	background-image: url(./static/1131.png);
}
.img__10element {
	background-image: url(./static/4111_1.png);
}
.img_element {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 190px;
	background-position: center center;
}

.production__content {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 50px;
}
.elem {
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.elem a {
	display: block;
	text-align: center;
	font-family: "MyriadProBold";
	font-size: 15px;
	color: #004B8D ;
	cursor: pointer;
}
.content {
	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__elem {
		width: 100%;
		@media screen and (min-width: 540px) {
			width: 45%;
		}
		@media screen and (min-width: 765px) {
			width: 30%;
		}
		@media screen and (min-width: 1000px) {
			width: 19%;
		}
	}
}